name: NPM Release
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install Dependencies
        run: npm ci
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.PIPELINE_BOT_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GIT_AUTHOR_NAME: im-pipeline-bot
          GIT_AUTHOR_EMAIL: ${{ secrets.COMMITBOT_EMAIL }}
          GIT_COMMITTER_NAME: im-pipeline-bot
          GIT_COMMITTER_EMAIL: ${{ secrets.COMMITBOT_EMAIL }}
        run: npx --no-install semantic-release
